@import "Styles/_variables.scss";

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        background-color: $light-color;
        box-shadow: 2px 2px 5px $shadow-color;
        width: 700px;
        padding: 20px;
        border-radius: 10px;
        &__header {
            margin-left: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__img {
                width: 35px;
                margin-right: 10px;
            }
            &__title {
                font-size: 24px;
                font-weight: normal;
                padding: 10px;
                margin: 0px;
            }
        }
    }
}