@import "Styles/_variables.scss";

.holder {
    margin: 10px 10px 10px 0px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__label {
        margin-bottom: 5px;
        margin-left: 5px;

        &::after {
            content: ":";
        }
    }

    &__input[type=text] {
        width: calc(100% - 20px);
    }

    &__input[type=checkbox] {
        transform: scale(1.8);
        width: 10px;
        height: 10px;
        margin-left: 15px;
        &:hover, &:focus {
            background: linear-gradient(to bottom, white 50%, #d1d1d1);
            cursor: pointer;
            outline: none;
        }
    }
    
    &__input {
        margin: 0px;
        font-size: 16px;
        padding: 10px 10px;
        border: 1px solid gray;
        border-radius: 5px;
        background: linear-gradient(to bottom, white 80%, #dbdbdb);

        &::placeholder {
            padding: 15px;
            font-size: 14px;
        }

        &:hover, &:focus {
            background: linear-gradient(to bottom, white 50%, #d1d1d1);
            outline: 1px solid $primary-color;
            z-index: 0;
        }

        &:disabled {
            box-shadow: inset 0px 0px 10px $shadow-color;
            background: #cccccc;
            color: black;
            z-index: 0;
            &::placeholder {
                color: black;
            }
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}