@import "Styles/_variables.scss";

.holder {
    margin: 10px 10px 10px 0px;
    display: flex;
    width: 100%;
    flex-direction: column;

    &__label {
        margin-bottom: 5px;
        margin-left: 5px;

        &::after {
            content: ":";
        }
    }

    &__input[type=text] {
        width: calc(100% - 20px);
    }
    
    &__input {
        margin: 0px;
        font-size: 16px;
        padding: 10px 10px;
        border: 1px solid gray;
        border-radius: 5px;
        background: linear-gradient(to bottom, white 80%, #dbdbdb);

        &::placeholder {
            padding: 15px;
            font-size: 14px;
        }

        &:hover, &:focus {
            background: linear-gradient(to bottom, white 50%, #d1d1d1);
            outline: 1px solid $primary-color;
        }
    }
}