@import "Styles/_variables.scss";

.view-button {
    border: none;
    $button-size: 35px;
    width: $button-size;
    height: $button-size;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #1360b9;
    transition: 0.2s;
    &:hover {
        width: calc($button-size + 5px);
        height: calc($button-size + 5px);
        box-shadow: 1px 1px 3px $shadow-color;
        cursor: pointer;
    }
}

.filters {
    margin-bottom: 30px;
    &__title {
        font-weight: bold;
        padding: 0px;
        margin: 0px;
    }
    &__inputs {
        display: flex;
        align-items: center;
        width: 100%;
        &__input {
            width: 30%;
            margin-right: 10px;
        }
    }
    &__button {
        width: 30%;
    }
}

.content {
    width: 100%;
    &__title {
        font-size: 36px;
        font-weight: normal;
    }
}

@media only screen and (max-width: $break-sm) {
    .content {
        padding: 0px;
    }
    .filters {
        &__inputs {
            display: block;
            &__input {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 10px;
            }
        }
        &__button {
            width: 100%;
        }
    }
}