.inputs {
    padding: 10px;
    .holder {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        &__button {
            padding: 0px;
            margin: 0px;
            width: 50%;
        }
    }
}