@import "Styles/_variables.scss";

.content {
    display: flex;
    margin-top: $margin-top-base;
    margin-bottom: $margin-bottom-base;
    &__outlet {
        padding: 20px;
        width: calc(100% - 40px);
    }
}